html {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: url(../img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg) no-repeat center center fixed;
    /* Photo by Ales Nesetril on Unsplash*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    width: 100%;
    height: auto;
    display: flex;
}

#name-header-content {
    width: 30%;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

#dev-header-content {
    text-align: center;
    width: 40%;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;

}

#reseaux-header-content {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
}

#reseaux-header-content img,
#reseaux-header-content a {
    width: 33px;
    height: 33px;
    margin: 4%;
}

#content-me {
    width: 100%;
    box-sizing: border-box;
    border-bottom: none;
    border-left: none;
    border-top: none;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#content-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

#image-content {
    width: 100%;
    height: 100%;
    animation: slideLeft 2.5s;

}


#image-content img {
    width: 100%;
    height: 100%;
    border-left: solid white 2px;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
}

#contact {
    width: auto;
    height: 100%;
    padding: 4%;
    text-align: center;
    margin: auto 0;
    border-left: solid white 2px;
    border-bottom: solid white 2px;
    animation: slideBottom 2.5s;
    transition: all 300ms ease-in;
    transform: scale(1);
    z-index: 1;
}

#content-right {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;

}

#maFormation-présentation {
    padding: 4%;
    animation: slideRight 2.5s;
    border-right: solid white 2px;
    border-left: solid white 2px;
    border-top: solid white 2px;
    text-align: center;
}

#maFormation-présentation {
    transition: all 300ms ease-in;
    transform: scale(1);
    z-index: 1;
}

#maFormation-présentation p {
    line-height: 160%;
    font-weight: bold;
}


#content-competence {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    border: solid white 2px;
    animation: slideBottom 2.5s;
    transition: all 300ms ease-in;
    transform: scale(1);
    z-index: 1;
}


#contact:hover,
#maFormation-présentation:hover,
#content-competence:hover {

    border: none;
    z-index: 100;
    transition: all 300ms ease-in;
    transform: scale(1.1);

}

#content-competence h3 {
    padding-top: 2%;
    padding-bottom: 2%;
}

#content-competence li {
    font-weight: bold;
    list-style-image: url(../img/true-logo.png);
}

.competence-title {
    text-align: center;
    height: 5%;
}

#content-list {
    animation: slideRight 2.5s;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    padding-top: 0;
    height: auto;
    justify-content: space-between;
}

#content_bottom {
    width: 100%;
    text-align: center;
    display: none;
}
#show_more{
    padding: 5%;
}
#portfolio,
#experience {
    width: 100%;
    height: auto;
    /*margin-top: 10%;*/
}
#portfolio{
    display: none;
}

.title-experience,
.title-portfolio {
    border: solid white 2px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 2%;
    margin-bottom: 10%;
}

#webside-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}


.webside {
    width: 50%;
    height: auto;
    margin-top: 10%;
    border-radius: 30px;
    text-align: center;
    padding: 5px;
    opacity: 0.7;
    margin-top: 0;
    transition: 1s;
}

.titleWebside {
    color: white;
    text-shadow: 3px 2px 3px black;
    padding: 1%;
}

.experience-content {
    width: 100%;
    height: auto;
}

.formation_dev_web,
.experienceSwinty_laptop,
.experienceMaylor,
.experienceVente,
.experienceCaf {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5%;
}

.content-img-experience {
    width: 50%;
    padding: 5px;
    height: auto;
}

.content-img-experience img {
    border-radius: 30px;
    width: 100%;
    height: 100%;

}

.content-img-ics {
    margin-top: auto;
    margin-bottom: auto;
}

.content-img-ics img {
    height: 100%;
}

.content-right-experience {
    width: 50%;
    height: auto;
    margin: auto;

}

.content-right-experience p {
    text-align: center;
}

.content-right-experience ul {
    padding-top: 5%;
    margin: auto 0;
}


.experienceCaf .content-right-experience:nth-child(1) {
    display: none;
}

.liste-stage h3{
padding: 5%;
}


@keyframes slideLeft {
    from {
        transform: translateX(-400px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(400px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    from {
        transform: translateY(400px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#CanvasContent {
    display: flex;
    width: 100%;
}

#canvas {
    width: 100%;
    display: flex;
}

.webside:hover {
    opacity: 1;
    transform: scale(0.9) rotate(5deg);
}

.webside img,
.webside a {
    margin: auto;
    width: 100%;
    height: 330px;
    text-decoration: none;
    border-radius: 10px;
}

.webside:nth-child(2),
.webside:nth-child(4),
.webside:nth-child(6) {
    align-self: flex-end;
}

.webside:nth-child(2):hover,
.webside:nth-child(4):hover,
.webside:nth-child(6):hover {
    transform: scale(0.9) rotate(-5deg);
}



/* Arrow */
.arrow_content {
    width: 100%;
}

.arrows {
    display: block;
    width: 60px;
    height: 72px;
    margin: auto;
    margin-top: 4%;
    text-align: center;
}

.arrows path {
    stroke: #08c3d7;
    fill: transparent;
    stroke-width: 3px;
    animation: bounce 2s infinite, arrow 2s infinite;
    -webkit-animation: bounce arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    60% {
        opacity: 1
    }

    80% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
    }
}

.arrows path.a1 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}

.experienceSwinty_mobile{
    display: none;
}

/* Compétences progress content */
#competences_progress {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.competences_progress_front h2,.competences_progress_back h2, .competences_progress_cms h2 {
    text-align: center;
    margin-bottom: 10%;
}
.competences_progress_front,.competences_progress_back,.competences_progress_cms {
    width: 50%;
    padding: 2%;
    border: solid white 0.5px;
    margin: auto;
}

.btn-modal-content{
    
    display: block;
    width: 45%;
    margin: auto;
    height: 40px;
    background-color: #08c3d7;
    text-align: center;
    border-radius: 20px;
    
}

.comptences_progress_cms{
    width: 50%;
    margin: auto;
    padding: 2%;
    display: flex;
}
/* test canvas */ 
.titleCanvasContent {
    width: 100%;
    display: flex;
    margin: auto;
}

.titleCanvasContent h3 {
    width: 100%;
    padding: 10px;
    margin: auto 0;
}

.titleCanvasContent a {
    position: absolute;
    font-family: 'Roboto Light', 'sans-serif';
    left: 0.5%;
    width: 2%;
    padding: 10px;
}

.titleCanvasContent img {
    width: 100%;
    height: 100%;
}

.canvasContent {
    display: flex;
    margin: auto;
    width: 100%;
}

#canvasFront,#canvasBack,#canvasCms {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.myCanvas {
    display: block;
    margin: auto;
}

/* ----------- Retina Screens ----------- */
@media screen and (min-width: 1200px) and (max-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    #content-competence {
        height: 55%;
    }

   
#content-list {

    animation: slideRight 5s;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 5%;
    height: auto;
    margin-bottom: 5%;
    justify-content: space-between;

}
    .experienceSwinty_mobile{
        display: none;
    }
}

@media screen and (max-width: 680px) {

    h1,
    h2 {

        font-size: 2rem;

    }

    h3 {

        font-size: 1.6rem;

    }

    h4 {
        font-size: 1.2rem;
    }

    p,
    li,
    span {
        font-size: 1.4rem;
    }

    li {
        font-size: 1.4rem;
    }

    .liste-stage li {
        font-size: 1.2rem;
    }

    #contact:hover,
    #maFormation-présentation:hover,
    #content-competence:hover {
        transform: none;
    }

    #content-me {
        flex-direction: column;
    }


    #image-content {

        margin: auto;
        display: flex;

    }

    #image-content img {
        width: 70%;
        margin: auto;
        border-right: solid white 3px;
    }

    #content-right,
    #content-left {
        width: 100%;
    }

    #contact {
        border-left: none;

    }

    #content-list {
        flex-wrap: nowrap;
        padding-top: 5%;
    }

    #maFormation-présentation {
        padding: 3%;
    }

    #reseaux-header-content {

        padding: 5%;
    }

    #reseaux-header-content img,
    #reseaux-header-content a {
        width: 23px;
        height: 23px;
        padding: 1%;
    }

    .webside {
        width: 100%;
        opacity: 1;
    }


    .webside img,
    .webside a {

        width: 80%;
        margin: auto;
        height: 215px;

    }
    
    .content-img-experience {
        width: 100%;
        padding: 5px;
        height: 60%;
        margin-top: 2.5%;
        margin: auto;
    }

    #contact {

        padding: 3%;
        margin-top: 2%;
        border-bottom: none;
    }

    .content-right-experience {

        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .content-right-experience ul {
      
        padding-left: 0;
    }

    .formation_dev_web, .experienceSwinty, .experienceMaylor, .experienceVente, .experienceCaf {

        flex-direction: column;
    }
    .experienceSwinty_laptop{
        display: none;
    }

    .experienceSwinty_mobile {
        width: 100%;
        display: flex;
        margin: auto;
        padding: 5%;
        flex-direction: column;
    }
    .experienceCaf .content-right-experience:nth-child(1) {
        display: inline;

    }

    .experienceCaf .content-right-experience:nth-child(3) {
        display: none;
    }
    #competences_progress {
        width: 100%;
    }
    .competences_progress_front, .competences_progress_back, .competences_progress_cms {
        width: 100%;
       
    }

    #canvasFront, #canvasBack, #canvasCms {
        width: 100%;
        flex-wrap: wrap;
    }
}

/* Smartphones, small screens (landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width: 740px) {
    /* Styles */
    #competences_progress {
        width: 100%;
    }
    .competences_progress_front, .competences_progress_back, .competences_progress_cms {
        width: 100%;
       
    }

    #canvasFront, #canvasBack, #canvasCms {
        width: 100%;
        flex-wrap: wrap;
    }
    }

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    /* Styles pour cette Media Queries */
    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.8rem;
    }

    p,
    span,
    li {
        font-size: 1.6rem;
    }
    #content-me {
        flex-direction: column;
    } #image-content {

        margin: auto;
        display: flex;

    }

    #image-content img {
        width: 70%;
        margin: auto;
        border-right: solid white 3px;
    }

    #content-right,
    #content-left {
        width: 100%;
    }

    #contact {
        border-left: none;

    }

    #content-list {
        flex-wrap: nowrap;
        padding-top: 5%;
    }

    #maFormation-présentation {
        padding: 3%;
    }

    #reseaux-header-content {

        padding: 5%;
    }

    #reseaux-header-content img,
    #reseaux-header-content a {
        width: 23px;
        height: 23px;
        padding: 1%;
    }

    #content-list {
        justify-content: space-around;
    }

    #contact:hover,
    #maFormation-présentation:hover,
    #content-competence:hover {
        transform: none;
    }

    #image-content img {
        width: 60%;
        margin: auto;
        border-right: solid white 3px;
    }

    #contact {
        padding: 3%;
        margin-top: 0;
    }

    #reseaux-header-content {

        padding: 0;
    }

    .webside {
        opacity: 1;
    }

    .webside img,
    .webside a {

        width: 70%;

    }

    .liste-stage li {

        font-size: 1.6rem;

    }
    .content-right-experience{
        width: 100%;
    }
    .content-img-experience {
        width: 70%;
        padding: 10%;
        height: 60%;
        margin-top: 2.5%;
        margin: auto;
    }

    .content-right-experience ul {


        width: 100%;

    }

    .formation_dev_web, .experienceSwinty, .experienceMaylor, .experienceVente, .experienceCaf {

        flex-direction: column;
    }
    .experienceSwinty_laptop{
        display: none;
    }

    .experienceSwinty_mobile {
        width: 100%;
        display: flex;
        margin: auto;
        padding: 5%;
        flex-direction: column;
    }

    #competences_progress {
        width: 100%;
    }
    .competences_progress_front, .competences_progress_back, .competences_progress_cms {
        width: 100%;
       
    }

    #canvasFront, #canvasBack, #canvasCms {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles pour cette Media Queries */


    p,
    span {
        font-size: 1.6rem;
    }

    li {
        font-size: 1.3rem;
    }

    .content-right-experience li {
        font-size: 1.6rem;
    }

    #content-list {
        justify-content: space-around;
    }

    .webside {
        opacity: 1;
    }
    .experienceSwinty_laptop{
       display: flex;
    }
    .experienceSwinty_mobile {
       display: none;
    }
    #competences_progress {
        width: 100%;
    }
    .competences_progress_front, .competences_progress_back, .competences_progress_cms {
        width: 100%;
       
    }

    #canvasFront, #canvasBack, #canvasCms {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1440px) {

    h1,
    h2 {
        padding: 1%;
        font-size: 4rem;
    }

    h3 {
        font-size: 3.5rem;

    }

    h4 {
        font-size: 3rem;
    }

    li,
    span {
        font-size: 2.5rem;

    }

    p,
    .liste-stage li {
        font-size: 3rem;
    }

    #name-header-content {

        padding: 1%;
    }

    #dev-header-content {

        font-size: 1.5rem;
        padding: 1%;
    }

    #content-list {

        justify-content: space-around;
        padding: 5%;
        padding-top: 5%;
        padding-bottom: 10%;

    }

    .webside img,
    .webside a {
        margin: auto;
        width: 80%;
        height: 330px;
        text-decoration: none;
        border-radius: 10px;
    }
    .experienceSwinty_laptop{
        width: 100%;
    }
    .experienceSwinty_mobile{
        display: none;
    }
}