
#titre {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    height: 70px;
    font-size: 10px;
}

#titre h3:hover {
    text-decoration: none;
    font-style: italic;
    color: rgb(167, 164, 164);
    opacity: 0.5;
}


#titre h3 {

    font-size: 15px;
}

#contenu_centre {
    display: flex;
    justify-content: space-between;
    width: 500px;

}

a {
    color: black;
    text-decoration: none;
}
.panier{
    width: 45px;
    height: 35px;
}
.panier img{
    width: 45px;
    height: 35px;
    position: absolute;
    right: 20px;
}
#contenu_droite {
    display: flex;
    justify-content: space-between;
    width: 500px;
}


#contenu_photo {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    height: 350px;
    width: 90%;

}

.accroche {
    text-align: center;
    height: 5%;
    width: 100%;

}

#a_propos {

    width: 100%;
    height: 80%;
    padding-bottom: 150px;
    /* Hauteur du pied de page */
}

.titre_a_propos {
    margin-top: 50px;
    margin-left: 10px;
}

.img_a_propos {

    margin: auto;
    position: absolute;
    right: 30px;
}

.img_a_propos img {
    margin-top: 60px;
    width: 100%;
    height: auto;
}

.text_a_propos {
    font-size: 25px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 30px;
    width: 50%;
    height: 70%;
}