

#titre {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    height: 70px;
    font-size: 10px;
}

.titrephotographe a {
    text-decoration: none;
}


#titre h3:hover {
    text-decoration: none;
    font-style: italic;
    color: rgb(167, 164, 164);
    opacity: 0.5;
}

#contenu_centre {
    display: flex;
    justify-content: space-between;
    width: 500px;

}

a {
    color: black;
}

#titre h3 a{
font-size: 15px;
}
.panier{
    width: 45px;
    height: 35px;
}
.panier img{
    width: 45px;
    height: 35px;
    position: absolute;
    right: 20px;
}
#contenu_droite {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

#contenu_tarif {
    height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
}

#tarif {
    height: 400px;
    width: auto;
    margin: auto;
    margin-top: 25px;
    
}
#titre_tarifs {
    text-align: center;
    font-family: 'yellowtailregular', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-bottom: 20px;
}
.tarif_minimal{
    width: 100%;
    height: 80px;
    text-align: center;
    padding-bottom: 20px;
}


.tarif_eco{
    width: 100%;
    height: 80px;
    padding-bottom: 20px;
    text-align: center;
}

.tarif_premuim{
    width: 100%;
    height: 80px;
    text-align: center;
    padding-bottom: 20px;
    
}
#photo {
    background-color: aqua;
    margin-top: 20px;
    margin: auto;
    background-image: url("../photo/photo_shooting_mobile_resolution.JPG");
    height: 200px;
    width: 420px;
    
}


footer {
    margin-top: 80px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#reseaux {

    display: flex;
    align-items: center;
    justify-content: center;

}

.facebook {
    width: 40px;
    height: 40px;

}

.instagram {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;

}

.flickr {
    width: 40px;
    height: 40px;

}