#titre {
    display: flex;
    justify-content: space-between;
    width: auto;
    align-items: center;
    height: 70px;
    font-size: 10px;
}

#titre h3:hover {
    text-decoration: none;
    font-style: italic;
    color: rgb(167, 164, 164);
    opacity: 0.5;
}


#titre h3 {

    font-size: 12px;
}

#contenu_centre {
    display: flex;
    justify-content: space-between;
    width: 500px;

}

a {
    color: black;
    text-decoration: none;
}
.panier{
    width: 45px;
    height: 35px;
}
.panier img{
    width: 45px;
    height: 35px;
    position: absolute;
    right: 20px;
}


.dropdown {
    width: 200px;
}